.wrapper {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: hsl(210, 38%, 95%);
}
.form {
   background: #fff;
   padding: 30px 34px;
   margin: 24px 0 0;
   min-width: 400px;
   min-height: 220px;
   border-radius: 5px;
   line-height: 24px;
   box-shadow: 3px 1px 8px rgba(255, 255, 255, 0.5),
      3px 2px 8px rgba(0, 0, 0, 0.1);
}
.form__content {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
   margin-bottom: 15px;
}
.actions {
   align-items: center;
   border-color: hsl(214, 32%, 91%);
   color: hsl(220, 26%, 14%);
   display: flex;
   gap: normal;
   justify-content: flex-end;
   line-height: 24px;
   margin: 30px 0px 0px;
}
