.button {
   padding: 10px 20px;
   align-items: flex-start;
   background-color: hsl(218, 17%, 35%);
   border-color: hsla(0, 0%, 0%, 0);
   border-color: hsla(0, 0%, 0%, 0);
   border-radius: 4px;
   border-style: solid;
   border-width: 1px;
   box-shadow: hsla(0, 0%, 0%, 0.1) 0px 4px 6px -1px;
   font-weight: 600;
   gap: normal;
   letter-spacing: 1.4px;
   line-height: 21px;
   margin: 0px 0px 0px 16px;
   padding: 8px 16px;
   text-align: center;
   text-transform: uppercase;
   color: hsl(0, 0%, 100%);
   font-family: Nunito;
   cursor: pointer;
   transition: 0.2s ease-in-out;
   background-position: center;
   transition: background 0.8s;
}
.button:hover {
   background: hsl(218, 17%, 24%);
}
